/*common.css*/




#main-header {
  /* border: 1px solid red; */
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0);
  position: absolute;
  z-index: 5;
  /* 드롭다운 만드는중 */
  overflow:hidden;
  height:110px;

}
#main-header:hover{
  background:rgba(255, 255, 255, 0.9);
  /* transition:all .3s; */

}

/* hover시 메뉴 색상변경 */
#main-header:hover li a{
color:black;
}
#main-header:hover li ul li a {
  color:#333;
  font-weight: 400;
  font-size:16px;
  }

  /* hover시 로고변경 */
#main-header:hover div.inner h1.hover{
  display:block;
}
#main-header:hover div.inner h1{
  display:none;
}

/* hover시 right메뉴 변경 */
#main-header:hover div.inner div.hover-right-menu{
  display:block;
}
#main-header:hover div.inner div.right-menu{
  display:none;
}


/* search버튼 */
/* search버튼 */
#main-header div.inner div.hover-right-menu .search {
  /* border:10px solid red; */
  position:relative;

}

#main-header div.inner div.hover-right-menu .search div {
  /* display: inline-block; */
  /* position: relative; */
  /* border:4px solid pink; */
  position:absolute;
}

#main-header div.inner div.hover-right-menu .search div:hover{
  /* border:3px solid blue; */
  background:#dbebfb;
border-radius:50%;
/* width:30px; */
/* height:30px; */
}

/* 손잡이 */
#main-header div.inner div.hover-right-menu .search > div:after {
  content: "";
  background: #000;
  width: 4px;
  height: 10px;
  position: absolute;
  top: 22px;
  right: 0px;
  transform: rotate(135deg);
    /* border:4px solid pink; */

}
/* 돋보기 */
#main-header div.inner div.hover-right-menu .search > div > input {
  color: #323232;
  font-size: 16px;
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 10px;
  border: solid 3px #323232;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
  cursor: pointer;
  position:absolute;
  right:0px;
  top:0;
}






/* 서치 공간 */
#main-header div.inner div.hover-right-menu .search > div > input::placeholder {
  color: #efefef;
  opacity: 0;
  transition: opacity 150ms ease-out;
  /* border:10px solid green; */
}

#main-header div.inner div.hover-right-menu .search > div > input:focus::placeholder {
  opacity: 1;
    /* border:10px solid green; */
}
/* 서치 공간 */


#main-header div.inner div.hover-right-menu .search > div > input:focus,
#main-header div.inner div.hover-right-menu .search> div > input:not(:placeholder-shown) {
  width: 150px;
    /* border:10px solid green; */
}





#main-header div.inner {
  /* border: 3px solid rgb(0, 68, 255); */
  /* 1710 1696*/
  width: 88.3%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}



/* 미디어쿼리 */
@media all and (min-width:1400px) and (max-width:1499px) {
  #main-header div.inner {
    width: 92%;
  }
}

@media all and (min-width:1280px) and (max-width:1399px) {
  #main-header div.inner {
    width: 95%;
  }
}

#main-header div.inner h1 {
  /* border:3px solid blue; */
  width: 156px;
  position: absolute;
  top: 27px;
  left: 0;
  z-index: 10;
}
/* hover로고 숨김 */
#main-header div.inner h1.hover{
  display:none;
}


#main-header div.inner h1 img {
  width: 100%;
}

#main-header nav {
  /* border:3px solid red; */
}
#main-header nav ul {
  /* border: 3px solid rgb(44, 215, 245); */
  text-align: center;

}


#main-header nav ul li {
  /* border: 3px solid rgb(0, 255, 13); */
  display: inline-block;
}



#main-header nav ul li a {
  /* border: 3px solid rgb(73, 77, 51); */
  font-size: 18px;
  color: #fff;
  /* padding: 0 1.61vw; */
  padding:41px 2.14vw;
  /* padding:2.14vh 2.14vw; */
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  display:inline-block;
}
#main-header nav ul li a:hover {
  color: #9b0d0d;
  font-weight:bold;
}



@media all and (min-width:1280px) and (max-width:1340px) {
  #main-header nav ul li a {
    padding:41px 1.5vw;
  }

}




/* hover사용시 빨간테두리 생성 */
#main-header nav ul li a span{
  position:relative;
}

/* after에 값 */
#main-header nav ul li a span:after{
  content:"";
  position:absolute;
  left:50%;
  bottom:-30px;
  width:0;
  height:2px;
  background:#9b0d0d;
  transition:all .5s;
}
/* li hover시 after값 변경 */
#main-header nav ul li:hover span:after{
 width:100%;
 left:0;
}




#main-header nav ul li ul{
  width:100%;

}

#main-header nav ul li ul li{
  /* border:3px solid black; */
  display:block;
text-align: center;

}
#main-header nav ul li ul li a{
  /* border:3px solid blue; */
  display:inline-block;
padding:10px 0;
}

#main-header nav ul li ul li a:hover {
  color: #9b0d0d;
  font-weight:bold;
}







#main-header div.right-menu {
  /* border: 3px solid rgb(4, 0, 255); */
  position: absolute;
  top: 41px;
  right: 0;
  float: left;
}



#main-header div.right-menu p {
  /* background-color: lightcoral; */
  width: 28px;
  float: left;
  margin-left: 1.61vw;
}



/* right-menu hover */
#main-header div.hover-right-menu {
  /* border: 3px solid rgb(4, 0, 255); */
  position: absolute;
  top: 41px;
  right: 0;
  float: left;
}


#main-header div.hover-right-menu p {
  /* background-color: lightcoral; */
  width: 28px;
  float: left;
  margin-left: 1.61vw;
}

#main-header div.hover-right-menu {
  display:none;
  /* border:3px solid blue; */
}






@media all and (min-width:1400px) and (max-width:1499px) {
  #main-header div.right-menu p {
    margin-left: 1.51vw;
  }

}

@media all and (min-width:1280px) and (max-width:1399px) {
  #main-header div.right-menu p {
    margin-left: 1.41vw;
  }

}


#main-header div.right-menu p img {
  width: 100%;
}




    /* 햄버거qnb */
  
   


/* 햄버거 모양 영역 */
/* 햄버거 모양 영역 */
header #cd-menu-trigger {
  /* border:10px solid yellow; */
  position: absolute;
  right:0;
  top:0;
  float: left; display:block; padding-top: 40px;
  height: 100%;
  width: 15%;
  display:none;
}

/* 2번째 바 */
#cd-menu-trigger .cd-menu-icon {
  /* this span is the central line in the menu menu */
  /* border:1px solid blue; */
  display: inline-block;
  position: absolute;
  bottom: auto;
  right: 15px;
  width: 35px;
  height: 5px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  cursor:pointer;

  /* these are the upper and lower lines in the menu menu */
}

/* 1,3번째 바 */
#cd-menu-trigger .cd-menu-icon::before, #cd-menu-trigger .cd-menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: inherit;
  left: 0;
  height: 5px;
  border-radius: 2px;
  /* border:1px solid green; */
}
/* 1번째 바 */
#cd-menu-trigger .cd-menu-icon::before {
  /* border:3px solid yellow; */
  bottom: 13px;
}

/* 3번째 바 */
#cd-menu-trigger .cd-menu-icon::after {
  top: 13px;
  height: 5px;
  border-radius: 2px;
    /* border: 1px solid red; */
}

/* 안씀 */
#cd-menu-trigger.is-clicked .cd-menu-icon {
  background-color: rgba(255, 255, 255, 0);
}
#cd-menu-trigger.is-clicked .cd-menu-icon::before, #cd-menu-trigger.is-clicked .cd-menu-icon::after {
  background-color: white;
}


/* 햄버거아이콘 변경되는 소스 */
/* 햄버거아이콘 변경되는 소스 */
#cd-menu-trigger.is-clicked .cd-menu-icon::before {
  bottom: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#cd-menu-trigger.is-clicked .cd-menu-icon::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* 햄버거아이콘 변경되는 소스 */
/* 햄버거아이콘 변경되는 소스 */



/* 햄버거 전체 영역 */
/* 햄버거 전체 영역 */
#cd-lateral-nav {
  /* 특징 : 드래그시 스크롤이 보임 */ 
  /* border:20px solid rgb(191, 0, 255); */
  display: flex;
  align-items: center;
  /* position: fixed; */
  height: 100vh; 
  /* 추가 : 100% or 100vh 이렇게 하면 스크롤이 생깁니다*/
  padding-bottom:80px; 
  /* 추가 : 스크롤시 모든 내용이 다 보이도록 */
  /* min-height:800px; */
  right: 0;
  top: 110px;
  visibility: visible;
  /* the secondary navigation is covered by the main element */
  z-index: 999;
  width: 100%;
  background:rgba(255, 255, 255, 0.9);
  overflow-y: scroll; /* 변경됨 */
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform .9s 0s, visibility 0s .9s;
  -moz-transition: -moz-transform .9s 0s, visibility 0s .9s;
  transition: transform .9s 0s, visibility 0s 9s;
   /* this creates the subtle slide in animation of the navigation; */
  -webkit-transform: translateX(4000px);
  -moz-transform: translateX(4000px);
  -ms-transform: translateX(4000px);
  -o-transform: translateX(4000px);
  transform: translateX(4000px);
}



#cd-lateral-nav .cd-navigation {
  /* border:10px solid yellow; */
  width:100%;
}




/* 글로벌 메뉴들 */
/* 글로벌 메뉴들 */
#cd-lateral-nav .cd-navigation .item-has-children a {
  /* border:3px solid red; */
  display: block;
  text-align:center;
  font-size: 40px;
  font-weight: 700;
  color:#323232;
  font-family: 'Noto Sans KR', sans-serif;
   line-height:110px;
} 

#cd-lateral-nav .cd-navigation .item-has-children a:hover {
background:#9b0d0d;
}
.no-touch #cd-lateral-nav a:hover {
  color: #fff;
}
/* 글로벌 메뉴들 */
/* 글로벌 메뉴들 */





/* 서브메뉴들*/
#cd-lateral-nav .sub-menu {
  /* border:10px solid blue; */
  /* display: none; */
  margin:0 auto;
  text-align:center;
  width:100%;
}

#cd-lateral-nav .sub-menu li {
	/* border:10px solid rgb(247, 0, 255); */
  text-align:center;
  width:100%;
  margin:0 auto;
  /* display:flex;
  justify-content: center; */
}

#cd-lateral-nav .cd-navigation .item-has-children .sub-menu li a {
  /* border:10px solid yellow; */
  text-align:center;
  font-size: 26px;
  font-weight: 700;
  color:#5d5d5d;
  font-family: 'Noto Sans KR', sans-serif;
   line-height:55px;
   letter-spacing:0.05em;
   /* background:lightblue; */
display:block;
} 

#cd-lateral-nav .cd-navigation .item-has-children .sub-menu li a:hover {
  color: #fff;
  background:#9bdefd;

}
/* 서브메뉴들*/
/* 서브메뉴들*/



/* 눌렀을때 보여지는 크기 */
#cd-lateral-nav.lateral-menu-is-open {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
  -webkit-transition: -webkit-transform .5s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform .5s 0s, visibility 0s 0s;
  transition: transform .5s 0s, visibility 0s 0s;
  /* smooth the scrolling on touch devices - webkit browsers */
  -webkit-overflow-scrolling: touch;
}

/* style menu items which have a submenu  */
#cd-lateral-nav .item-has-children > a {
  /* border:10px solid rgb(0, 250, 208); */
  font-size:40px;
  position: relative;
  text-transform: uppercase;
  /* this is the right arrow to show that the item has a submenu  */
}

#cd-lateral-nav .item-has-children a:hover{/*background-color:#fff;*/ color:#fff;}
#cd-lateral-nav .item-has-children .sub-menu li a:hover{/*background-color:#fff;*/ color:#fff; background:url(../../images/common/icon.png) no-repeat left top;}



/* 클릭됐을때 아이콘들 */
#cd-lateral-nav .item-has-children > a::after {
  /* border:x solid #fff; */
  /* background:url(../../images/common/arrow02.png) no-repeat center center; */
  /* background-color:#fff; */
  content: '';
  display: block;
  height: 13px;
  width: 15px;
  position: absolute;
  top: 52%;
  bottom: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  right: 1.7em;
  /*background: url("../images/common/cd-arrow.svg") no-repeat center center;*/
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

#cd-lateral-nav .item-has-children > a.submenu-open::after {
    /* border:20px solid red; */
  background:url(../../images/common/arrow01.png) no-repeat center center;
  top:52%;
  -webkit-transform: translateY(-50%) rotate(90deg);
  -moz-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  -o-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}
   


/* 햄버거 qnb */








/* sub형 header 시작 */

#sub-header {
  /* border:10px solid yellow; */
  width:100%;
  background-color: #9b0d0d;
  position: absolute;
  z-index: 5;
  /* 드롭다운 만드는중 */
  overflow:hidden;
  height:110px;
}



#sub-header div.inner {
  /* border: 3px solid rgb(0, 68, 255); */
  /* 1710 1696*/
  width: 88.3%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

  

@media all and (min-width:1400px) and (max-width:1499px) {
  #sub-header div.inner {
    width: 92%;
  }
}

@media all and (min-width:1280px) and (max-width:1399px) {
  #sub-header div.inner {
    width: 95%;
  }
}

#sub-header div.inner h1 {
  width: 156px;
  position: absolute;
  top: 27px;
  left: 0;
  z-index: 10;
}

#sub-header div.inner h1 img {
  width: 100%;
}

#sub-header nav{
  /* border:3px solid blue; */
}

#sub-header nav ul {
  /* border: 3px solid rgb(44, 215, 245); */
  text-align: center;
  /* padding: 41px; */

}

#sub-header nav ul li {
  /* border: 3px solid rgb(0, 255, 13); */
  display: inline-block;
}

#sub-header nav ul li a {
  /* border: 3px solid rgb(73, 77, 51); */
  font-size: 18px;
  color: #fff;
  /* padding: 0 1.61vw; */
  padding:41px 2.14vw;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  display:inline-block;
}
#sub-header nav ul li a :hover{
  font-weight: 700;
  color:#9bdefd;
}


@media all and (min-width:1280px) and (max-width:1340px) {
  #sub-header nav ul li a {
    padding:41px 1.5vw;
  }

}


/* hover사용시 빨간테두리 생성 */
#sub-header nav ul li a span{
  position:relative;
}
#sub-header nav ul li a span:after{
  content:"";
  position:absolute;
  left:50%;
  bottom:-30px;
  width:0;
  height:2px;
  background:#fff;
  transition:all .5s;
}

#sub-header nav ul li:hover span:after{
 width:100%;
 left:0;
}

#sub-header nav ul li ul{
  width:100%;

}


#sub-header nav ul li ul li{
  /* border:3px solid black; */
  display:block;
text-align: center;

}
#sub-header nav ul li ul li a{
  /* border:3px solid blue; */
  display:inline-block;
padding:10px 0;
font-weight: 400;
}


#sub-header nav ul li ul li a:hover {
  /* border:3px solid blue; */
  /* color: #9b0d0d; */
  color: #9bdefd;
  font-weight:700;
}






#sub-header div.right-menu {
  /* border: 3px solid rgb(4, 0, 255); */
  position: absolute;
  top: 41px;
  right: 0;
  float: left;
}

#sub-header div.right-menu p {
  /* background-color: lightcoral; */
  width: 28px;
  float: left;
  margin-left: 1.61vw;
}


#sub-header div.right-menu p.trigger{
  /* background-color: lightcoral; */
}


/* search버튼 */
/* search버튼 */
#sub-header div.inner div.right-menu .search {
  /* border:10px solid red; */
  position:relative;

}

#sub-header div.inner div.right-menu .search div {
  /* display: inline-block; */
  /* position: relative; */
  /* border:4px solid pink; */
  position:absolute;
}

#sub-header div.inner div.right-menu .search div:hover{
  /* border:3px solid blue; */
  background:#dbebfb;
border-radius:50%;
/* width:30px; */
/* height:30px; */
}

/* 손잡이 */
#sub-header div.inner div.right-menu .search > div:after {
  content: "";
  background: #fff;
  width: 4px;
  height: 10px;
  position: absolute;
  top: 22px;
  right: 0px;
  transform: rotate(135deg);
    /* border:4px solid pink; */

}
/* 돋보기 */
#sub-header div.inner div.right-menu .search > div > input {
  color: #fff;
  font-size: 16px;
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 10px;
  border: solid 3px #fff;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
  cursor: pointer;
  position:absolute;
  right:0px;
  top:0;
}






/* 서치 공간 */
#sub-header div.inner div.right-menu .search > div > input::placeholder {
  color: #efefef;
  opacity: 0;
  transition: opacity 150ms ease-out;
  /* border:10px solid green; */
}

#sub-header div.inner div.right-menu .search > div > input:focus::placeholder {
  opacity: 1;
    /* border:10px solid green; */
}
/* 서치 공간 */


#sub-header div.inner div.right-menu .search > div > input:focus,
#sub-header div.inner div.right-menu .search> div > input:not(:placeholder-shown) {
  width: 150px;
    /* border:10px solid green; */
}





@media all and (min-width:1400px) and (max-width:1499px) {
  #sub-header div.right-menu p {
    margin-left: 1.51vw;
  }
}

@media all and (min-width:1280px) and (max-width:1399px) {
  #sub-header div.right-menu p {
    margin-left: 1.41vw;
  }
}

#sub-header div.right-menu p img {
  width: 100%;
}




    /* 햄버거qnb */
  
   


/* 햄버거 모양 영역 */
/* 햄버거 모양 영역 */
header #cd-menu-trigger {
  /* border:10px solid yellow; */
  position: absolute;
  right:0;
  top:0;
  float: left; display:block; padding-top: 40px;
  height: 100%;
  width: 15%;
  display:none;
}

/* 2번째 바 */
#cd-menu-trigger .cd-menu-icon {
  /* this span is the central line in the menu menu */
  /* border:1px solid blue; */
  display: inline-block;
  position: absolute;
  bottom: auto;
  right: 15px;
  width: 35px;
  height: 5px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  cursor:pointer;

  /* these are the upper and lower lines in the menu menu */
}

/* 1,3번째 바 */
#cd-menu-trigger .cd-menu-icon::before, #cd-menu-trigger .cd-menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: inherit;
  left: 0;
  height: 5px;
  border-radius: 2px;
  /* border:1px solid green; */
}
/* 1번째 바 */
#cd-menu-trigger .cd-menu-icon::before {
  /* border:3px solid yellow; */
  bottom: 13px;
}

/* 3번째 바 */
#cd-menu-trigger .cd-menu-icon::after {
  top: 13px;
  height: 5px;
  border-radius: 2px;
    /* border: 1px solid red; */
}

/* 안씀 */
#cd-menu-trigger.is-clicked .cd-menu-icon {
  background-color: rgba(255, 255, 255, 0);
}
#cd-menu-trigger.is-clicked .cd-menu-icon::before, #cd-menu-trigger.is-clicked .cd-menu-icon::after {
  background-color: white;
}


/* 햄버거아이콘 변경되는 소스 */
/* 햄버거아이콘 변경되는 소스 */
#cd-menu-trigger.is-clicked .cd-menu-icon::before {
  bottom: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#cd-menu-trigger.is-clicked .cd-menu-icon::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* 햄버거아이콘 변경되는 소스 */
/* 햄버거아이콘 변경되는 소스 */




/* 햄버거 전체 영역 */
/* 햄버거 전체 영역 */
#cd-lateral-nav {
  /* 특징 : 드래그시 스크롤이 보임 */ 
  /* border:20px solid rgb(191, 0, 255); */
  display: flex;
  align-items: center;
  position: fixed;
  height: 100vh; 
  /* 추가 : 100% or 100vh 이렇게 하면 스크롤이 생깁니다*/
  padding-bottom:80px; 
  /* 추가 : 스크롤시 모든 내용이 다 보이도록 */
  /* min-height:800px; */
  right: 0;
  top: 110px;
  visibility: visible;
  /* the secondary navigation is covered by the main element */
  z-index: 999;
  width: 100%;
  background:rgba(255, 255, 255, 0.9);
  overflow-y: scroll; /* 변경됨 */
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform .9s 0s, visibility 0s .9s;
  -moz-transition: -moz-transform .9s 0s, visibility 0s .9s;
  transition: transform .9s 0s, visibility 0s 9s;
   /* this creates the subtle slide in animation of the navigation; */
  -webkit-transform: translateX(4000px);
  -moz-transform: translateX(4000px);
  -ms-transform: translateX(4000px);
  -o-transform: translateX(4000px);
  transform: translateX(4000px);
}



#cd-lateral-nav .cd-navigation {
  /* border:10px solid yellow; */
  width:100%;
}




/* 글로벌 메뉴들 */
/* 글로벌 메뉴들 */
#cd-lateral-nav .cd-navigation .item-has-children a {
  /* border:3px solid red; */
  display: block;
  text-align:center;
  font-size: 40px;
  font-weight: 700;
  color:#323232;
  font-family: 'Noto Sans KR', sans-serif;
   line-height:110px;
} 

#cd-lateral-nav .cd-navigation .item-has-children a:hover {
background:#9b0d0d;
}
.no-touch #cd-lateral-nav a:hover {
  color: #fff;
}
/* 글로벌 메뉴들 */
/* 글로벌 메뉴들 */


/* @media only screen and (min-width: 768px) {
  #cd-lateral-nav .cd-navigation {
    margin: 20px 0;
    border:3px solid yellow;
  }
} */


/* 서브메뉴들*/
#cd-lateral-nav .sub-menu {
  /* border:10px solid blue; */
  display: none;
  /* border-bottom:2px solid #c6c6c6; */
  /* border-left:2px solid #999;
  border-right:2px solid #999; */
  margin:0 auto;
}

#cd-lateral-nav .sub-menu li a{
	/* border:10px solid rgb(247, 0, 255); */
  width:100%;

}

#cd-lateral-nav .cd-navigation .item-has-children .sub-menu li a {
  /* border:1px solid yellow; */
  display: block;
  text-align:center;
  font-size: 26px;
  font-weight: 700;
  color:#5d5d5d;
  font-family: 'Noto Sans KR', sans-serif;
   line-height:55px;
   letter-spacing:0.05em;
   /* background:lightblue; */

} 

#cd-lateral-nav .cd-navigation .item-has-children .sub-menu li a:hover {
  color: #fff;
  background:#9bdefd;
}
/* 서브메뉴들*/
/* 서브메뉴들*/



/* 눌렀을때 보여지는 크기 */
#cd-lateral-nav.lateral-menu-is-open {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
  -webkit-transition: -webkit-transform .5s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform .5s 0s, visibility 0s 0s;
  transition: transform .5s 0s, visibility 0s 0s;
  /* smooth the scrolling on touch devices - webkit browsers */
  -webkit-overflow-scrolling: touch;
}

/* style menu items which have a submenu  */
#cd-lateral-nav .item-has-children > a {
  /* border:10px solid rgb(0, 250, 208); */
  font-size:40px;
  position: relative;
  text-transform: uppercase;
  /* this is the right arrow to show that the item has a submenu  */
}

#cd-lateral-nav .item-has-children a:hover{/*background-color:#fff;*/ color:#fff;}
#cd-lateral-nav .item-has-children .sub-menu li a:hover{/*background-color:#fff;*/ color:#fff; background:url(../../images/common/icon.png) no-repeat left top;}



/* 클릭됐을때 아이콘들 */
#cd-lateral-nav .item-has-children > a::after {
  /* border:20px solid red; */
  background:url(../../images/common/arrow02.png) no-repeat center center;
  /*background-color:#000;*/
  content: '';
  display: block;
  height: 13px;
  width: 15px;
  position: absolute;
  top: 52%;
  bottom: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  right: 1.7em;
  /*background: url("../images/common/cd-arrow.svg") no-repeat center center;*/
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

#cd-lateral-nav .item-has-children > a.submenu-open::after {
    /* border:20px solid red; */
  background:url(../../images/common/arrow01.png) no-repeat center center;
  top:52%;
  -webkit-transform: translateY(-50%) rotate(90deg);
  -moz-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  -o-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}
   


/* 햄버거 qnb */



















/* pc - sub 헤더 종료 */






/*    태블릿 main- header시작     */

@media all and (min-width:500px) and (max-width:1279px) {

  #main-header {
    /* border: 5px solid red; */
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0);
    position: absolute;
    z-index: 5;
    height: 70px;
  }
  #main-header:hover{
    background:rgba(255, 255, 255, 0);
    /* transition:all .3s; */
  }
  
  #main-header div.inner {
    /* border: 3px solid rgb(0, 68, 255); */
    /* 800: 752px */
    width: 94%;
    margin: 0 auto;
    position: relative;
  }


  #main-header div.inner h1 {
    /* border:3px solid blue; */
    width: 115px;
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 10;
  }

  #main-header:hover div.inner h1 {
    display:block;
  }
  #main-header:hover div.inner h1.hover {
    display:none;
  }



  #main-header nav {
    display: none;
  }

  #main-header div.right-menu {
    /* border: 3px solid rgb(23, 21, 138); */
    display:none;
  }

  #main-header div.hover-right-menu {
    /* border: 3px solid rgb(23, 21, 138); */
    /* display:none; */
    visibility:hidden;
  }

  


    /* 햄버거qnb */
  
   


/* 햄버거 모양 영역 */
/* 햄버거 모양 영역 */
#main-header #cd-menu-trigger {
  /* border:10px solid yellow; */
  position: absolute;
  right:-20px;
  top:0;
  float: left; display:block; padding-top: 40px;
  height: 100%;
  width: 15%;
  display:block;
}

/* 2번째 바 */
#cd-menu-trigger .cd-menu-icon {
  /* this span is the central line in the menu menu */
  /* border:1px solid blue; */
  display: inline-block;
  position: absolute;
  bottom: auto;
  right: 15px;
  width: 35px;
  height: 5px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  cursor:pointer;

  /* these are the upper and lower lines in the menu menu */
}

/* 1,3번째 바 */
#cd-menu-trigger .cd-menu-icon::before, #cd-menu-trigger .cd-menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: inherit;
  left: 0;
  height: 5px;
  border-radius: 2px;
  /* border:1px solid green; */
}
/* 1번째 바 */
#cd-menu-trigger .cd-menu-icon::before {
  /* border:3px solid yellow; */
  bottom: 13px;
}

/* 3번째 바 */
#cd-menu-trigger .cd-menu-icon::after {
  top: 13px;
  height: 5px;
  border-radius: 2px;
    /* border: 1px solid red; */
}

/* 안씀 */
#cd-menu-trigger.is-clicked .cd-menu-icon {
  background-color: rgba(255, 255, 255, 0);
}
#cd-menu-trigger.is-clicked .cd-menu-icon::before, #cd-menu-trigger.is-clicked .cd-menu-icon::after {
  background-color: white;
}


/* 햄버거아이콘 변경되는 소스 */
/* 햄버거아이콘 변경되는 소스 */
#cd-menu-trigger.is-clicked .cd-menu-icon::before {
  bottom: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#cd-menu-trigger.is-clicked .cd-menu-icon::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* 햄버거아이콘 변경되는 소스 */
/* 햄버거아이콘 변경되는 소스 */




/* 햄버거 전체 영역 */
/* 햄버거 전체 영역 */
#cd-lateral-nav {
  /* 특징 : 드래그시 스크롤이 보임 */ 
  /* border:20px solid rgb(191, 0, 255); */
  display: flex;
  align-items: center;
  position: fixed;
  height: 100vh; 
  /* 추가 : 100% or 100vh 이렇게 하면 스크롤이 생깁니다*/
  padding-bottom:80px; 
  /* 추가 : 스크롤시 모든 내용이 다 보이도록 */
  /* min-height:800px; */
  right: 0;
  top: 70px;
  visibility: visible;
  /* the secondary navigation is covered by the main element */
  z-index: 999;
  width: 100%;
  background:rgba(255, 255, 255, 0.9);
  overflow-y: scroll; /* 변경됨 */
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform .9s 0s, visibility 0s .9s;
  -moz-transition: -moz-transform .9s 0s, visibility 0s .9s;
  transition: transform .9s 0s, visibility 0s 9s;
   /* this creates the subtle slide in animation of the navigation; */
  -webkit-transform: translateX(4000px);
  -moz-transform: translateX(4000px);
  -ms-transform: translateX(4000px);
  -o-transform: translateX(4000px);
  transform: translateX(4000px);
}



#cd-lateral-nav .cd-navigation {
  /* border:10px solid yellow; */
  width:100%;
}




/* 글로벌 메뉴들 */
/* 글로벌 메뉴들 */
#cd-lateral-nav .cd-navigation .item-has-children a {
  /* border:3px solid red; */
  display: block;
  text-align:center;
  font-size: 40px;
  font-weight: 700;
  color:#323232;
  font-family: 'Noto Sans KR', sans-serif;
   line-height:110px;
} 

#cd-lateral-nav .cd-navigation .item-has-children a:hover {
background:#9b0d0d;
}
.no-touch #cd-lateral-nav a:hover {
  color: #fff;
}
/* 글로벌 메뉴들 */
/* 글로벌 메뉴들 */


/* @media only screen and (min-width: 768px) {
  #cd-lateral-nav .cd-navigation {
    margin: 20px 0;
    border:3px solid yellow;
  }
} */


/* 서브메뉴들*/
#cd-lateral-nav .sub-menu {
  /* border:10px solid blue; */
  display: none;
  /* border-bottom:2px solid #c6c6c6; */
  /* border-left:2px solid #999;
  border-right:2px solid #999; */
  margin:0 auto;
}

#cd-lateral-nav .sub-menu li a{
	/* border:10px solid rgb(247, 0, 255); */
  width:100%;

}

#cd-lateral-nav .cd-navigation .item-has-children .sub-menu li a {
  /* border:1px solid yellow; */
  display: block;
  text-align:center;
  font-size: 26px;
  font-weight: 700;
  color:#5d5d5d;
  font-family: 'Noto Sans KR', sans-serif;
   line-height:55px;
   letter-spacing:0.05em;
   /* background:lightblue; */

} 

#cd-lateral-nav .cd-navigation .item-has-children .sub-menu li a:hover {
  color: #fff;
  background:#9bdefd;
}
/* 서브메뉴들*/
/* 서브메뉴들*/



/* 눌렀을때 보여지는 크기 */
#cd-lateral-nav.lateral-menu-is-open {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
  -webkit-transition: -webkit-transform .5s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform .5s 0s, visibility 0s 0s;
  transition: transform .5s 0s, visibility 0s 0s;
  /* smooth the scrolling on touch devices - webkit browsers */
  -webkit-overflow-scrolling: touch;
}

/* style menu items which have a submenu  */
#cd-lateral-nav .item-has-children > a {
  /* border:10px solid rgb(0, 250, 208); */
  font-size:40px;
  position: relative;
  text-transform: uppercase;
  /* this is the right arrow to show that the item has a submenu  */
}

#cd-lateral-nav .item-has-children a:hover{/*background-color:#fff;*/ color:#fff;}
#cd-lateral-nav .item-has-children .sub-menu li a:hover{/*background-color:#fff;*/ color:#fff; background:url(../../images/common/icon.png) no-repeat left top;}



/* 클릭됐을때 아이콘들 */
#cd-lateral-nav .item-has-children > a::after {
  /* border:20px solid red; */
  background:url(../../images/common/arrow02.png) no-repeat center center;
  /*background-color:#000;*/
  content: '';
  display: block;
  height: 13px;
  width: 15px;
  position: absolute;
  top: 52%;
  bottom: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  right: 1.7em;
  /*background: url("../images/common/cd-arrow.svg") no-repeat center center;*/
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

#cd-lateral-nav .item-has-children > a.submenu-open::after {
    /* border:20px solid red; */
  background:url(../../images/common/arrow01.png) no-repeat center center;
  top:52%;
  -webkit-transform: translateY(-50%) rotate(90deg);
  -moz-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  -o-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}
   


/* 햄버거 qnb */




















}

/*    태블릿형 main-header 종료    */



/*    태블릿형  sub-header시작     */

@media all and (min-width:500px) and (max-width:1279px) {

  #sub-header {
    /* border: 5px solid red; */
    width: 100%;
    background-color: #9b0d0d;
    position: absolute;
    z-index: 5;
    overflow:hidden;
    height:70px;
  }



  #sub-header div.inner {
    /* border: 3px solid rgb(0, 68, 255); */
    /* 1710 1696*/
    width: 94%;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }
  
    
  #sub-header div.inner h1 {
    width: 115px;
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 10;
  }
  
  #sub-header div.inner h1 img {
    width: 100%;
  }
  
  #sub-header nav{
    display: none;
  }
  

  
  
  #sub-header div.right-menu {
display:none;
  }

/* 햄버거 모양 영역 */
/* 햄버거 모양 영역 */
#sub-header #cd-menu-trigger {
  /* border:10px solid yellow; */
  position: absolute;
  right:-20px;
  top:-3px;
  float: left; display:block; padding-top: 40px;
  height: 100%;
  width: 15%;
  display:block;
}

}

/*    태블릿형 종료    */










/* 메인-header 모바일형 시작 */
@media all and (min-width:280px) and (max-width:499px) {


  #main-header {
    /* border: 5px solid red; */
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0);
    position: absolute;
    z-index: 5;
    height: 70px;
  }
  #main-header:hover{
    background:rgba(255, 255, 255, 0);
    /* transition:all .3s; */
  }


  #main-header div.inner {
    /* border: 3px solid rgb(0, 68, 255); */
    /* 480: 440px */
    width: 91.67%;
    height: 80px;
    margin: 0 auto;
    position: relative;
  }


  #main-header div.inner h1 {
    /* border:3px solid blue; */
    width: 115px;
    position: absolute;
    top: 14px;
    left: 0;
    z-index: 10;
  }


  #main-header:hover div.inner h1 {
    display:block;
  }
  #main-header:hover div.inner h1.hover {
    display:none;
  }



  #main-header nav {
    display: none;
  }


  #main-header div.right-menu {
    /* border: 3px solid rgb(23, 21, 138); */
    display:none;
  }

  #main-header div.hover-right-menu {
    /* border: 3px solid rgb(23, 21, 138); */
    /* display:none; */
    visibility:hidden;
  }



  header #cd-menu-trigger {
    /* border:10px solid yellow; */
    position: absolute;
    right:-10px;
    top:0;
    float: left; display:block; padding-top: 40px;
    height: 100%;
    width: 15%;
    display:block;
  }
  
  /* 2번째 바 */
#cd-menu-trigger .cd-menu-icon {
    /* border:3px solid yellow; */
  width: 30px;
  height:4px;
  top:35px;
}


/* 1,3번째 바 */
#cd-menu-trigger .cd-menu-icon::before, #cd-menu-trigger .cd-menu-icon:after {
    /* border:3px solid yellow; */


}
/*1번째 바*/
#cd-menu-trigger .cd-menu-icon::before {
  /* border:3px solid yellow; */
  bottom: 10px;
  width: 30px;
  height:4px;

}

/* 3번째 바 */
#cd-menu-trigger .cd-menu-icon::after {
  top: 10px;
  width: 30px;
  height:4px;
  /* border:3px solid yellow; */

}


#cd-lateral-nav {
  /* 특징 : 드래그시 스크롤이 보임 */ 
  /* border:20px solid rgb(191, 0, 255); */
  top: 70px;
}

/* 글로벌 메뉴들 */
/* 글로벌 메뉴들 */
#cd-lateral-nav .cd-navigation .item-has-children a {
  /* border:3px solid red; */
  font-size: 32px;
  /* font-size: 7.29vw; */
  font-weight: 700;
   line-height:110px;
} 


/* 서브메뉴들*/
/* 서브메뉴들*/
#cd-lateral-nav .cd-navigation .item-has-children .sub-menu li a {
  /* border:1px solid yellow; */
  font-size: 24px;
   line-height:50px;
   letter-spacing:0.025em;
   /* background:lightblue; */

} 



}





/* main-header 모바일 미디어쿼리 */
@media all and (min-width:320px) and (max-width:400px) {
  #cd-lateral-nav .cd-navigation .item-has-children a {
    /* border:3px solid red; */
    font-size: 26px;
    line-height:100px;
}
#cd-lateral-nav .cd-navigation .item-has-children .sub-menu li a {
  /* border:1px solid yellow; */
  font-size: 22px;
   line-height:40px;
   letter-spacing:0.025em;
   /* background:lightblue; */

} 


}
@media all and (min-width:280px) and (max-width:319px) {
  #cd-lateral-nav .cd-navigation .item-has-children a {
    /* border:3px solid red; */
    font-size: 22px;
    line-height:100px;
    }
    #cd-lateral-nav .cd-navigation .item-has-children .sub-menu li a {
      /* border:1px solid yellow; */
      font-size: 18px;
      font-weight: 700;
       line-height:35px;
       letter-spacing:0.025em;
       /* background:lightblue; */
    
    } 
}




/*    모바일  sub-header시작     */

@media all and (min-width:280px) and (max-width:499px) {

  #sub-header {
    /* border: 5px solid red; */
    width: 100%;
    background-color: #9b0d0d;
    position: absolute;
    z-index: 5;
    overflow:hidden;
    height:70px;
  }



  #sub-header div.inner {
    /* border: 3px solid rgb(0, 68, 255); */
    width: 91.67%;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }
  
    
  #sub-header div.inner h1 {
    width: 115px;
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 10;
  }
  
  #sub-header div.inner h1 img {
    width: 100%;
  }
  
  #sub-header nav{
    display: none;
  }
  

  
  
  #sub-header div.right-menu {
    /* border: 3px solid rgb(4, 0, 255); */
display:none;
  }

  

}

/*    태블릿형 종료    */













/* PC footer 시작 */

footer {
  /* border: 3px solid black; */
  width: 100%;
  height: auto;
  padding: 100px 0 100px 0;
}



footer div.inner {
  /* border: 3px solid rgb(17, 0, 255); */
  /* 1696 */
  width: 88.3%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

@media all and (min-width:1800px) and (max-width:1870px) {
  footer div.inner {
    width: 89%;
  }
}

@media all and (min-width:1700px) and (max-width:1799px) {
  footer div.inner {
    width: 91%;
  }
}

@media all and (min-width:1600px) and (max-width:1699px) {
  footer div.inner {
    width: 94%;
  }
}

@media all and (min-width:1280px) and (max-width:1599px) {
  footer div.inner {
    width: 95%;
  }
}




footer div.inner h2 {
  /* border: 3px solid orange; */
  /* width: 223px;  */
  width: 13.1%;
  float: left;
}

footer div.inner h2 img {
  width: 100%;
}

footer div.inner div.middle {
  /* border: 3px solid rgb(102, 194, 102); */
  width:75%;
  float:left;
}



footer div.inner div.middle ul.navi {
  /* border: 1px solid rgb(227, 14, 255); */
  margin-bottom: 35px;
  width:86%;
  float:right;
}

footer div.inner div.middle ul.navi li.box {
  /* border: 1px solid blue; */
  display: inline-block;
  margin: 0 3.8vw 0 0;
  /* margin: 0 70px 0 0; */
}



footer div.inner div.middle ul.navi li.box:last-child{
  /* border:3px solid green; */
  margin-right: 0;
}


footer div.inner div.middle ul.navi li.box h4 {
  /* border: 1px solid rgb(137, 137, 206); */
  /* font-size: 20px; */
  font-size: 1.04vw;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  color: #000;
  padding: 20px 0 30px 0;
  letter-spacing:0.020em;
}




footer div.inner div.middle ul.navi li.box ul li {
  /* background-color: lightcoral; */
  /* font-size: 16px; */
  font-size: 0.87vw;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  color: #333;
  line-height: 2;
  letter-spacing: 0.025em;;
}

footer div.inner div.middle address {
  /* border:3px solid red; */
  /* font-size: 14px; */
  font-size: 0.78vw;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  color: #000;
  line-height: 24px;
  width:86%;
  float:right;
}

footer div.inner div.middle address span br {
  display: none;
}

footer div.inner div.middle p {
  /* border:3px solid blue; */
  /* font-size: 14px; */
  font-size: 0.78vw;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  color: #000;
  padding: 32px 0 0 0;
  width:86%;
  float:right;
}



@media all and (min-width:1341px) and (max-width:1400px) {
  footer div.inner div.middle ul.navi {
    width:90%;
  }
  footer div.inner div.middle address {
    width:90%;
  }
  footer div.inner div.middle p {
    width:90%;
  }

}


@media all and (min-width:1280px) and (max-width:1400px) {
  footer div.inner div.middle ul.navi li.box h4 {
    font-size: 20px;
  }
  footer div.inner div.middle ul.navi li.box ul li {
    font-size:16px;
  }
  footer div.inner div.middle address {
    font-size:14px;
    width:93%;
  }
  footer div.inner div.middle p {
    font-size:14px;
    width:93%;
  }
  footer div.inner div.middle {
    width: 86%;
  }
  footer div.inner div.middle ul.navi {
    width:93%;
  }

}



footer div.inner ul.sns {
  /* border: 3px solid red; */
  position: absolute;
  bottom: 0;
  right: 0;
  width: 12.7%;
  text-align: end;
}

footer div.inner ul.sns li {
  /* border: 3px solid rgb(228, 156, 156); */
  display: inline-block;
  margin: 0 0 0 10px;
  width:40px;
}
footer div.inner ul.sns li:first-child{
  margin-left:0;
}

footer div.inner ul.sns li img {
  width: 100%;
}











/*    태블릿형 footer시작     */

@media all and (min-width:500px) and (max-width:1279px) {


  footer {
    /* border: 3px solid black; */
    width: 100%;
    padding: 50px 0 50px 0;
    height:auto;
  }

  footer div.inner {
    /* border: 3px solid red; */
    /* 752 */
    width: 94%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    position: relative;

  }



  footer div.inner h2 {
    /* border: 3px solid orange; */
    /* width: 113px; */
    width:15.16%;
    float: none;
    padding: 5.12vh 0 50px 0;
  }

  footer div.inner h2 img {
    width: 100%;
  }

  footer div.inner div.middle {
    /* border: 1px solid rgb(102, 194, 102); */
    float: none;
    /* width:752: 720px; */
    width: 95.74%;
    margin: 0 auto;
  }



  footer div.inner div.middle ul.navi {
    /* border: 1px solid rgb(227, 14, 255); */
    width: 100%;
    margin-bottom: 42px;
    float:none;
  }


  footer div.inner div.middle ul.navi li.box {
    /* border: 1px solid blue; */
    display: inline-block;
    margin: 0 5.3% 0 0;
  }


  
  footer div.inner div.middle ul.navi li.box:last-child {
    /* border:3px solid green; */
    margin-right: 0;
  }


  footer div.inner div.middle ul.navi li.box h4 {
    /* border: 5px solid rgb(137, 137, 206); */
    /* font-size: 14px; */
    font-size: 1.75vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    color: #000;
    padding: 0 0 18px 0;
  }


  footer div.inner div.middle ul.navi li.box ul li {
    /* background-color: lightcoral; */
    /* font-size: 12px; */
    font-size: 1.50vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #333;
    line-height: 2.5;
  }

  footer div.inner div.middle address {
    /* border:3px solid red; */
    /* font-size: 10px; */
    font-size: 1.25vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #000;
    line-height: 1.5;
    width:86%;
    float:none;
  }

  footer div.inner div.middle address span br {
    display: none;
  }

  footer div.inner div.middle p {
    /* border:3px solid blue; */
    /* font-size: 10px; */
    font-size: 1.25vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #000;
    padding: 16px 0 0 0;
    width:86%;
    float:none;
  }




  footer div.inner ul.sns {
    /* border: 3px solid red; */
    position: absolute;
    bottom: 0px;
    right: 2%;
    width: 50%;
  }

  footer div.inner ul.sns li {
    /* border: 3px solid rgb(228, 156, 156); */
    display: inline-block;
    margin: 0 0 0 10px;
    width:45px;
  }


  footer div.inner ul.sns li:first-child{
    margin-left:0;
  }
  footer div.inner ul.sns li img {
    width: 100%;
  }





}

/*    태블릿형 footer종료     */


@media all and (min-width:800px) and (max-width:930px) {
  footer div.inner div.middle ul.navi li.box {
    margin: 0 5% 0 0;
}
}

@media all and (min-width:500px) and (max-width:799px) {
  footer div.inner div.middle ul.navi {
    display:none;
}

footer div.inner div.middle address {
  font-size:11px;
}
footer div.inner div.middle p {
  font-size:11px;
}
footer div.inner ul.sns li {
  width: 4vw;
}
}
















/* 모바일형 footer 시작 */
@media all and (min-width:280px) and (max-width:499px) {


  footer {
    /* border: 3px solid black; */
    width: 100%;
    padding: 50px 0 50px 0;
    height:auto;
  }

  footer div.inner {
    /* border: 3px solid red; */
    /* 752 */
    width: 91.67%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    padding: 0 0 50px 0;

  }


  footer div.inner h2 {
    /* border: 3px solid orange; */
    width: 114px;
    float: none;
    padding: 5.12vh 0 42px 0;
    margin: 0 auto;

  }

  footer div.inner h2 img {
    width: 100%;
  }

  footer div.inner div.middle {
    /* border: 5px solid rgb(102, 194, 102); */
    float: none;
    width: 95.7%;
    margin: 0 auto;

  }


  footer div.inner div.middle ul.navi {
display:none;
  }




  footer div.inner div.middle address {
    /* border:3px solid red; */
    font-size: 12px;
    /* font-size: 1.25vw; */
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #000;
    line-height: 2;
    text-align: center;
    width:100%;
  }

  footer div.inner div.middle address span br {
    display: block;
  }



  footer div.inner div.middle p {
    /* border:3px solid blue; */
    font-size: 12px;
    /* font-size: 1.25vw; */
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #000;
    padding: 16px 0 30px 0;
    text-align: center;
    width:100%;
  }

  footer div.inner ul.sns {
    /* border: 3px solid red; */
    text-align: center;
    width: 100%;
  }



  footer div.inner ul.sns li {
    /* border: 3px solid rgb(228, 156, 156); */
    display: inline-block;
    margin: 0 0 0 10px;
    width: 30px;
  }

  footer div.inner ul.sns li img {
    width: 100%;
  }



}

/* 모바일형 footer 종료 */


